@page "/oficina-central" 

<!-- Título del módulo -->
<h1>Módulo de Oficina Central</h1>

<!-- Descripción del módulo -->
<p>Bienvenido al módulo de oficina central. Aquí puedes gestionar agentes, ver el reporte de ingresos y visualizar el mapa de multas.</p>

<!-- Lista de enlaces para acceder a las diferentes secciones del módulo -->
<ul>
    <li><a href="/modulo2/gestion-multas">Gestionar Multas</a> </li> <!-- Enlace para gestionar multas -->
    <li><a href="/modulo2/reporte-ingresos">Reporte de Ingresos</a> </li>  <!-- Enlace para ver el reporte de ingresos -->
    <li><a href="/modulo2/mapa-multas-central">Mapa de Multas</a>  </li> <!-- Enlace para ver el mapa de multas -->
    <li><a href="/modulo2/gestion-agentes">Gestionar Agentes</a> </li> <!-- Enlace para gestionar agentes -->
</ul>
