@page "/agentes"

<!-- Título y descripción del módulo -->
<h1>Módulo de Agentes</h1> <!-- Título del módulo -->
<p>Bienvenido al módulo de agentes. Aquí puedes gestionar las multas, ver el mapa de multas y revisar las comisiones.</p> <!-- Descripción del módulo -->

<!-- Lista de enlaces para acceder a las diferentes secciones del módulo -->
<ul>
    <li><a href="/registro-multa">Registrar Multa</a> </li> <!-- Enlace para registrar una nueva multa -->
    <li><a href="/mapa-multas">Mapa de Multas</a></li>  <!-- Enlace para ver el mapa de multas -->
    <li><a href="/comisiones">Comisiones</a> </li> <!-- Enlace para revisar las comisiones -->
</ul>
